
#front {
    z-index: 1;
  }

  .signature {
    width: 200px;
    position: absolute;
    top: 610px;
    z-index: 1;
  }

  .profile {
    position: absolute;
    top: 220px;
    z-index: 0;
  }

  .barcode {
    position: absolute;
    z-index: 1;
    top: 660px;
    height: 200px;
    width: 250px;
  }

  #image {
    position: absolute;
    cursor: pointer;
    z-index: 0;
  }

  .qr-code {
    position: fixed;
    z-index: 1;
    top: 200px !important;
    left: 1360px !important;
    height: 170px;
    width: 170px;
  }

  .infos {
    position: absolute;
    top: 470px;
    left: 255px;
    z-index: 999;
    font-family: 'Akrobat ExtraBold' !important;
  }

  .infos_2 {
    position: absolute;
    top: 547px;
    left: 455px;
    z-index: 999;
    font-family: 'Akrobat ExtraBold' !important;
  }

  .txt_input {
    border: 0;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
    width: 440px !important;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Akrobat ExtraBold' !important;
  }

  .txt_input_2 {
    border: 0;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    width: 240px !important;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Akrobat ExtraBold' !important;
    letter-spacing: 1px;
  }

  
  .infos_3_cname {
    position: absolute;
    top: 407px;
    right: 280px;
    z-index: 999;
    font-family: 'Akrobat ExtraBold' !important;
  } 

  .txt_input_3_cname {
    border: 0;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    width: 340px !important;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Akrobat ExtraBold' !important;
    letter-spacing: 1px;
  }

  .infos_3_crelation {
    position: absolute;
    top: 436px;
    right: 280px;
    z-index: 999;
    font-family: 'Akrobat ExtraBold' !important;
  } 

  .txt_input_3_crelation {
    border: 0;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    width: 300px !important;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Akrobat ExtraBold' !important;
    letter-spacing: 1px;
  }

  .infos_3_cphone {
    position: absolute;
    top: 463px;
    right: 285px;
    z-index: 999;
    font-family: 'Akrobat ExtraBold' !important;
  } 

  .txt_input_3_cphone {
    border: 0;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    width: 313px !important;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Akrobat ExtraBold' !important;
    letter-spacing: 1px;
  }